.section__title {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.section__title__name {
    font-weight: 100;
    font-size: 1.5rem;

    margin-right: 50px;
}

.section__title__line {
    width: 100%;
    height: 1px;

    background-color: #222222;
}

.section__item {
    margin-bottom: 4rem;

    display: flex;
    flex-direction: row;
}

.section__item__date {
    width: 10rem;
    min-width: 10rem;

    font-size: 0.75rem;

    display: flex;
    flex-direction: column;
}

.section__item__content {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.section__item__content__title {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.section__item__content__title__image {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin-right: 20px;
}

.section__item__content__title__icon {
    margin-right: 20px;
    color: #0fbff6;
}

.section__item__content__title__name {
    color: #0fbff6;
    font-weight: 900;
    font-size: 1.2rem;
}

.section__item__content__title__sub {
    font-size: 0.9rem;
}

.section__item__content__title__link {
    margin-left: auto;
    cursor: pointer;
}

.section__item__content__text {
    display: flex;
    flex-direction: column;
}

.section__item__content__text__space {
    margin-bottom: 0.5rem;
}

.section__item__content__text__bold {
    font-weight: 900;
}

.section__item__content__text__badge-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section__item__content__text__badge__item {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;

    font-size: 0.9rem;
    background-color: #DFDFDF;
}

@media (max-width: 1024px) {

    .section__item__date {
        width: 100%;
        margin-bottom: 1rem;

        font-size: 0.9rem;

        display: flex;
        flex-direction: row;
    }

    .section__item__date__sub {
        margin-left: 10px;
    }

    .section__item {
        width: 100%;

        flex-direction: column;
    }

}
